* {
  /* border: 1px solid gold; */
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

/* MOBILE STYLE */
body {
  background: black;
}

/*//////*/
/* HEADER */
/*//////*/
.header {
  display: flex;
  justify-content: center;
}



/*//////*/
/* MAIN */
/*//////*/

/* Home page nav */
.homeNavigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homeNavigation ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homeNavigation li {
  list-style: none;
}

.homeNavContainer {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 2em;
}

#ourExhibits {
  background-image: url("https://i.imgur.com/2IwffvO.jpg");
}

#featuredNavImg {
  background-image: url("https://i.imgur.com/SO1CULX.jpg");
}

#currentEvents {
  background-image: url("https://i.imgur.com/kA1JyAb.jpg");
}

.img-text {
  color: white;
  font-size: 32px;
  font-weight: 600;
  border: 5px solid white;
  border-bottom: 0;
  border-right: 0;
  margin-left: 30%;
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.homeNavigation a, {
  text-decoration: none;
}

/* Exhibits Nav Page  */

.exhibitsNavPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.exhibitNavImg {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#featuredExhibitsPageImg {
  background-image: url("https://i.imgur.com/cUtjOvW.jpg");
}

#egyptExhibitsPageImg {
  background-image: url("https://i.imgur.com/lBRZqlw.jpg");
}

#surrealismExhibitsPageImg {
  background-image: url("https://i.imgur.com/2IwffvO.jpg");
}

#spaceExhibitsPageImg {
  background-image: url("https://i.imgur.com/YVRBeSV.jpg");
}

/* Each Themed Exhibit Home Page */
.exhibits {
  width: 100%;
}

.exhibitHeading {
  font-size: 26px;
  text-align: center;
}

.allExhibits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.exhibitNavContainer {
  height: 250px;
  width: 200px;
  margin: 3%;
  text-align: left;
}

.exhibitNavContainer img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 3%;
}

.exhibitNavContainer a {
  text-decoration: none;
  font-size: 18px;
}

/* Each exhibit page  */
.exhibitButton {
  position: absolute;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#heart:hover {
  cursor: pointer;
}

.exhibitShowPage h1 {
  font-size: 28px;
}

#creator {
  font-weight: 300;
  font-size: 20px;
}

.exhibitShowImg {
  object-fit: cover;
  overflow: hidden;
}

.exhibitShowPage img {
  width: 100%;
}

.exhibitsShowInfo {
  background: black;
  font-family: 'Source Sans Pro', sans-serif;
  width: 80%;
  margin-left: 1em;
}

#exhibitDescription {
  margin-top: 1em;
}

/* Event nav page */
.eventHeading {
  text-align: center;
  font-size: 26px;
}

.eventsNavPage {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.eventsNavPage a {
  text-decoration: none;
}

.eventsNavContainer {
  width: 100%;
  display: flex;
}

.eventImgContainer img {
  height: 110px;
  width: 110px;
  object-fit: cover;
  border-radius: 5%;
  margin: 1em;
}

.eventInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 130px;
  overflow: hidden;
}

.eventInfo h3 {
  margin-top: .7em;
  font-size: 18px;
}

.eventInfo p {
  margin-top: 1em;
  font-size: 16px;
  color: grey;
  width: 80%;
}

/* Event display page  */
.eventShow {
  font-family: 'Source Sans Pro', sans-serif;
}

.eventShowImg {
  width: 100%;
}

.eventShowImg img {
  width: 100%;
  object-fit: contain;
}

.eventShowInfo {
  height: 400px;
  width: 90%;
}

.eventShowInfo h1 {
  font-size: 26px;
  margin-top: 1em;
  margin-left: 1.3em;
}

.eventShowInfo h4 {
  font-size: 22px;
}

.eventShowInfo p {
  font-size: 22px;
  font-weight: 300;
  margin-left: 1.5em;
}

.eventShowInfo h4, #eventDescription {
  margin-top: 1em;
  margin-left: 1.5em;
}

#eventDescription {
  line-height: 1.3em;
}

.eventBack {
  position: absolute;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/* Profile page */
.profile {
  margin-bottom: 12em;
  text-align: center;
}

.signup, .login {
  width: 80%;
}

.signup, .login {
  font-size: 16px;
}

input[type=submit] {
  color: black;
  margin-left: 80%;
  margin-top: 5%;
  width: 75px;
  height: 30px;
  font-size: 16px;
  border-radius: 7%;
}

.loggedIn h4 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.loggedIn img {
  height: 400px;
  width: 100%;
}

/*//////*/
/* FOOTER  */
/*//////*/
footer {
  margin-top: 1em;
  height: 80px;
  text-align: center;
}

.pageFooter {
  position: sticky;
  background: black;
  display: flex;
  justify-content: center;
}

.pageFooter ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.pageFooter a {
  color: white;
  text-decoration: none;
}

#logout:hover {
  cursor: pointer;
}

/*////////////*/
/* DESKTOP  */
/*///////////*/
@media only screen and (min-width: 768px) {

/* Home page nav */
  .homeNavigation {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .homeNavContainer {
    background-size: contain;
    border: 2px solid white
  }

/* exhibit nav page */
  .exhibitsNavPage {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .exhibitHeading {
    font-size: 36px;
  }


  .exhibitNavImg {
    background-size: contain;
    border: 2px solid white
  }

  /* each themed exhibit */
  .allExhibits {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .exhibitNavContainer {
    height: 350px;
    width: 300px;
  }

  .exhibitNavContainer img {
    height: 300px;
    width: 300px;
  }

  .exhibitNavContainer p {
    font-size: 26px;
  }


  /* events nav page  */

  .eventHeading {
    font-size: 36px;
  }

  .eventsNavPage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .eventImgContainer,
  .eventImgContainer img {
    height: 200px;
    width: 200px;
  }

  .eventInfo {
    width: 500px;
    margin-left: 5%;
  }






}
