* {
  border: 1px solid gold;
}

/* MOBILE STYLE */


/* HEADER */
.header {
  display: flex;
  justify-content: center;
}

/* NAV */


/* MAIN */

/* FOOTER  */
.page-footer {
  background: black;
  display: flex;
  justify-content: center;
}

.page-footer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-footer a {
  color: white;
  text-decoration: none;
}

/* DESKTOP  */
